html {
    height: 100%;
}
body {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../images/jedi-background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pose-pic {
	height: 120px;
	width: 160px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

h1 {
border-bottom: 1px solid #ccc;
font-family: 'Roboto', sans-serif;
font-weight: 500;
margin: 0 0 0.4em 0;
padding: 0.5em 0 0.2em 0;
}

h3 {
/*border-top: 1px solid #eee;*/
color: #fcf7f7;
font-weight: 500;
margin: 15px 0 10px 0;
padding: 10px 0 10px 0;
white-space: nowrap;
}

#spin-load {
    padding: 60px 0 0 0;
}